<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <ApplicationRevision>12</ApplicationRevision>
    <ApplicationVersion>2.0.0.*</ApplicationVersion>
    <BootstrapperEnabled>True</BootstrapperEnabled>
    <Configuration>Release</Configuration>
    <CreateWebPageOnPublish>True</CreateWebPageOnPublish>
    <GenerateManifests>true</GenerateManifests>
    <Install>True</Install>
    <InstallFrom>Web</InstallFrom>
    <InstallUrl>https://ffew.space/gridscout/install/</InstallUrl>
    <IsRevisionIncremented>True</IsRevisionIncremented>
    <IsWebBootstrapper>True</IsWebBootstrapper>
    <MapFileExtensions>True</MapFileExtensions>
    <OpenBrowserOnPublish>False</OpenBrowserOnPublish>
    <Platform>x64</Platform>
    <PublishDir>bin\Release\net9.0-windows\app.publish\</PublishDir>
    <PublishUrl>bin\publish\</PublishUrl>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <PublishReadyToRun>False</PublishReadyToRun>
    <PublishSingleFile>False</PublishSingleFile>
    <SelfContained>False</SelfContained>
    <SignatureAlgorithm>(none)</SignatureAlgorithm>
    <SignManifests>False</SignManifests>
    <SkipPublishVerification>false</SkipPublishVerification>
    <TargetFramework>net9.0-windows</TargetFramework>
    <UpdateEnabled>True</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
    <UpdateRequired>False</UpdateRequired>
    <WebPageFileName>Publish.html</WebPageFileName>
    <History>True|2025-06-18T11:29:51.4717898Z||;True|2025-06-11T18:38:08.0859697+01:00||;True|2025-06-11T18:03:17.3449972+01:00||;True|2025-05-27T07:12:36.2253684+01:00||;True|2025-05-26T19:34:51.6899643+01:00||;True|2025-05-26T09:43:46.0105568+01:00||;True|2025-05-25T07:59:00.7507972+01:00||;True|2025-05-24T09:51:58.8867600+01:00||;True|2025-05-23T17:19:32.9634281+01:00||;True|2025-05-21T17:32:30.6492728+01:00||;True|2025-05-21T17:20:32.4156794+01:00||;False|2025-05-21T17:20:16.0524961+01:00||;</History>
  </PropertyGroup>
  <ItemGroup>
    <BootstrapperPackage Include="Microsoft.NetCore.DesktopRuntime.9.0.x64">
      <Install>True</Install>
      <ProductName>.NET Desktop Runtime 9.0.4 (x64)</ProductName>
    </BootstrapperPackage>
  </ItemGroup>
</Project>